img {
    border-radius: 60%;
    height:50px;
    width:50px;
 
  } 

  .container
  {
    height: 100%;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBNK6zT9W4yRbqFRdb5S5RhYTmi1VlgHcyAQ&usqp=CAU');
      
  }
  .card
  {
      margin-top: 50%;
  }