

<div class="container">

    <div class="row">
        <div class="col"></div>
      
        <div class="col">
      <div id="cardTittle">
                Our services
            </div>
          </div>
           <div class="col"></div>
           
    </div>
    <div class="row">
      <div class="col">
     

        <div class="card" style="width: 18rem;" id="cardTittle1">
            <img src="./assets/img/2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Building & Construction</h5>
              <p class="card-text">There are many construction methods to choose from, and picking the right one for you will depend on your finances, planning permission, and design criteria.</p>
          
            </div>
            <button type="button" class="btn btn-light">View pictures</button>
          </div>
      </div>
      <div class="col">
       
        <div class="card" style="width: 18rem;" id="cardTittle2">
            <img src="./assets/img/5.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> House Plans</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <button type="button" class="btn btn-light" [routerLink]="['/Houses']" >View Pictures</button>
          </div>
      </div>
      <div class="col">
       
        <div class="card" style="width: 18rem;" id="cardTittle3">
            <img src="./assets/img/4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Deliveries</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <button type="button" class="btn btn-light">View Pictures</button>
          </div>
      </div>
    </div>
  </div>

  