.card
{
  
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 10px solid rgba(255, 255, 255, 0.3);
}

p {
    font-family: Lato;
  }

  img {
    border-radius: 60%;
    height:150px;
    width:150px;
    margin-left: 40%;
  } 

  row
  {
      margin: 2cm;
  }

  #cardTittle
  {
      margin-top: 1cm;
     margin-left: 2cm;
      margin-bottom: 0.5cm;
      font-size:x-large;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color:black;
  }

  #cardTittle1
  {

    margin-top: 1cm;
  }


  .container
{
  background-image: url("https://images4.newscred.com/Zz1kNmFkYmFmNzhlNGIxMWViYTU1ZDFmYjg0ZWI5MTc4Zg==");
  height: 100%;
  width: 200%;
 background-repeat: no-repeat;
 background-size:cover
 
}

