p {
    font-family: Lato;
  }

  img {
    border-radius: 60%;
    height:150px;
    width:150px;
    margin-left: 40%;
  } 

  row
  {
      margin: 2cm;
  }

  #cardTittle
  {
      margin-top: 1cm;
     margin-left: 2cm;
      margin-bottom: 0.5cm;
      font-size:x-large;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color:white;
  }

  #cardTittle1
  {

    margin-top: 1cm;
  }

  #cardTittle2
  {

    margin-top: 2cm;
  }

  #cardTittle3
  {

    margin-top: 3cm;
   
  }
  .container
  {
    height: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBNK6zT9W4yRbqFRdb5S5RhYTmi1VlgHcyAQ&usqp=CAU');
  }