h2
{
    background-image: url('/../assets/home-page-img/img/2.png'); 
    font-size: 0.5cm;
  margin-right: 90%;
}

.container-fluid
{
  background-image:url("https://www.tarkettsee.com/media/img/M/");
}

