<p>profile works!</p>
<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        
          <div class="card">
              <div class="card-header">
                Contack us
              </div>
              <div class="card-body">
          
                <p class="card-text">
                  <img src="./assets/img/6.jpeg" class="card-img-top" alt="...">isac@gmail.com
                  <br>
                  <img src="./assets/img/7.jpeg" class="card-img-top" alt="...">098 765 4654
  
                </p>
             
              </div>
            </div>
        </div>
        <div class="col">
         
        </div>
      </div>
    </div>